<div id="site">
    <ng-include src="ctrl.templateUrl"></ng-include>

    <div class="col-md-8 col-md-push-2">
        <div class="widget-modal">
            <div class="widget-modal-heading">
                Select Your Dashboard
            </div>
            <div class="widget-modal-body">
                <div class="row">
                    <div class="col-xs-8">
                        <input type="search" id="filter" class="form-control text-center" ng-model="ctrl.search"
                               placeholder="Type to find dashboard"/>
                    </div>
                    <div class="col-xs-2">
                        <div class="btn btn-default" ng-click="ctrl.createDashboard()">
                            <span class="fa fa-stack fa-lg">
                                <span class="fa-circle-thin fa-stack-2x"></span>
                                <span class="fa-plus fa-stack-1x"></span>
                            </span>
                            <br/>
                            Create a new dashboard
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <h5>
                            All Project's</span>
                        </h5>

                        <div class="text-center" ng-hide="ctrl.dashboards">Loading
                            Dashboards...</div>

                        <ul class="list-animate list-group text-left">
                            <li class="list-group-item clickable"
                                ng-repeat="myitem in mydashboards = (ctrl.mydash | filter:ctrl.search | orderBy: 'name')">
                                <a href ng-click="ctrl.open(myitem.id)">{{ myitem.name }} </a> 
                                 <span class="pull-right fa fa-lg"> <span
                                    class="fa-angle-right fa-lg"></span>
                            </span>

                            </li>
                        </ul>
                    </div>

                    <div class="col-xs-4">

                        <table id="table" class="hidden">
                                    <tr>
                                    <th> ncloc </th>
        <th> line_coverage (%) </th>
        <th> blocker_violations </th>
        <th> critical_violations </th>
        <th> major_violations </th>
        <th> violations</th>
        <th> tests </th>
        <th> Last Build</th>
    </tr>
</table>
                </div>
                </div>
            </div>
        </div>

<button onclick="getProject('api/dashboard/mydashboard/');">Get Data</button>
<!--
<table id="table" class="hidden">
    <tr>
        <th>Name</th>
        <th>ncloc</th>
        <th>line_coverage (%)</th>
        <th>blocker_violations</th>
        <th>critical_violations </th>
        <th>major_violations </th>
        <th>violations</th>
        <th>tests </th>
        <th>Last Build</th>
    </tr>
</table>
-->


    </div>
</div>

