<div id="site">
    <ng-include src="ctrl.templateUrl"></ng-include>

    <div class="col-md-8 col-md-push-2">
        <div class="widget-modal">
            <div class="widget-modal-heading">
                Select Your Dashboard
            </div>
            <div class="widget-modal-body">
                <div class="row">
                    <div class="col-xs-8">
                        <input type="search" id="filter" class="form-control text-center" ng-model="ctrl.search"
                               placeholder="Type to find dashboard"/>
                    </div>
                    <div class="col-xs-2">
                        <div class="btn btn-default" ng-click="ctrl.createDashboard()">
                            <span class="fa fa-stack fa-lg">
                                <span class="fa-circle-thin fa-stack-2x"></span>
                                <span class="fa-plus fa-stack-1x"></span>
                            </span>
                            <br/>
                            Create a new dashboard
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="row">
                    <div class="col-xs-4" onload="getProject('api/dashboard/mydashboard/')">
                            <table id="table" class="sortable" class="hidden">
                                    <tr>
                                    <th> Projects</th>
                                    <th> Lines of code </th>
                                    <th> Issues(>= Critical) </th>
                                    <th> Issues(&lt= Major)</th>
                                    <th> Lines Covered (%) </th>
                                    <th> Nb tests </th>
                                    <th> Last Build</th>
                                </tr>
                            </table>
                        </ul>
                    </div>

                </div>


    <button onclick="getProject('api/dashboard/mydashboard/');">Get Data</button>

    </div>
</div>

