<widget-modal widget-modal-title="Configure CodeCoverage Widget" class="codeCoverage-config">
    <form name="configForm" role="form" ng-submit="codeCoverageConfig.submit(configForm.$valid)" novalidate="novalidate">
        <div class="form-group text-center" ng-class="{'has-error': configForm.collectorItemId.$invalid && codeCoverageConfig.submitted}">
            <select name="collectorItemId"
                    class="form-control"
                    ng-model="codeCoverageConfig.collectorItemId"
                    ng-options="item.name for item in codeCoverageConfig.buildJobs | orderBy: 'name' track by item.value"
                    ng-disabled="codeCoverageConfig.toolsDropdownDisabled"
                    required>
                <option value="">{{graphConfig.toolsDropdownPlaceholder}}</option>
            </select>

            <p class="help-block" ng-if="configForm.collectorItemId.$error.required">Please select a collector</p>
        </div>

        <div class="form-group text-center" ng-class="{'has-error': configForm.CodeCoverage.$invalid && codeCoverageConfig.submitted}">
            <label class="modal-label">Path Code Coverage UT</label>
            <input
                    type="text"
                    name="CodeCoverage"
                    class="form-control-inline text-center"
                    ng-model="codeCoverageConfig.CodeCoverage"
                    size="20"
                    minlength="5"
                    maxlength="100"
                    required>&nbsp;&nbsp;&nbsp;

            <p class="help-block" ng-if="configForm.CodeCoverage.$error.required">Code Coverage path is required</p>
            <p class="help-block" ng-if="configForm.CodeCoverage.$error.pattern">Please enter a path</p>
        </div>

        <hr/>

        <div class="form-group text-center" ng-class="{'has-error': configForm.CodeCoverageFunctional.$invalid && codeCoverageConfig.submitted}">
            <label class="modal-label">Path Code Coverage Functional</label>
            <input
                    type="text"
                    name="CodeCoverageFunctional"
                    class="form-control-inline text-center"
                    ng-model="codeCoverageConfig.CodeCoverageFunctional"
                    size="20"
                    minlength="5"
                    maxlength="100"
                    required>&nbsp;&nbsp;&nbsp;

            <p class="help-block" ng-if="configForm.CodeCoverageFunctional.$error.required">Code Coverage functional path is required</p>
            <p class="help-block" ng-if="configForm.CodeCoverageFunctional.$error.pattern">Please enter a path</p>
        </div>

        <div class="button-row row text-center">
            <button type="submit" class="btn btn-primary btn-wide">Save</button>
        </div>
    </form>
</widget-modal> 
